GRIST_DOMAIN=grist.localhost
APP_HOME_URL=http://${GRIST_DOMAIN}
DEFAULT_EMAIL=test@example.org
TEAM=cool-beans
PERSIST_DIR=./persist
SECRETS_DIR=./config/secrets
DEX_CLIENT_SECRET=
GRIST_OIDC_IDP_CLIENT_ID=
GRIST_OIDC_IDP_CLIENT_SECRET=
